@{
    ViewBag.Title = "Home Page";
}


<div id="content"></div>
<button class="btn" id="loadbtn">загрузка</button>
<button class="btn" id="displaybtn">отобразить</button>

@section scripts{
<script src="~/Scripts/app.js"></script>
  }

